.card {
  display: flex;
  gap: $s32;
  align-items: center;
  @include respond("desktop") {
    gap: $s16;
  }
  @include respond("tablet") {
    flex-direction: column-reverse;
  }
  &__image {
    max-width: 100%;
    object-fit: cover;
    @include respond("desktop") {
      max-width: 50%;
    }
    @include respond("tablet") {
      max-width: 100%;
    }
    @include respond("phone") {
      height: 200px;
    }
  }
  &__suptitle {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $purple;
    margin-bottom: $s20;
  }
  &__title {
    cursor: pointer;
    margin-bottom: $s16;
    transition: all 0.2s linear;
    &:hover {
      color: $purple;
    }
  }
  &__text {
    color: $mediumGray;
  }
}
