.posts {
  padding: $s128 $s80;
  display: flex;
  justify-content: space-between;
  gap: $s32;
  width: 100%;
  @include respond("desktop") {
    padding: $s96 $s64;
  }
  @include respond("tablet") {
    padding: $s64 $s32;
    flex-direction: column;
  }
  @include respond("phone") {
    padding: $s32 $s16;
  }
  &__featured_post,
  &__all_posts {
    & > h2 {
      margin-bottom: $s32;
    }
  }
  &__featured_post {
    flex: 0 1 60%;
  }
  &__all_posts {
    flex: 0 1 40%;
  }
}
.view_all {
  color: $darkViolet;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
