.category {
  &__main {
    display: flex;
    justify-content: space-between;
    gap: $s32;
    padding: 0 $s80;
    @include respond("desktopLg") {
      flex-direction: column-reverse;
    }
    @include respond("tablet") {
      padding: 0 $s48;
    }
    @include respond("phone") {
      padding: 0 $s16;
    }
  }
  &__posts {
    display: flex;
    flex-direction: column;
    gap: $s32;
    flex: 0 1 70%;
    & > div > img {
      width: 35%;
      object-fit: cover;
      @include respond("desktopLg") {
        width: 300px;
        height: 300px;
      }
    }
  }
  &__aside {
    flex: 0 1 30%;
  }
}
