.category {
  &__card {
    cursor: pointer;
    padding: $s24;
    display: flex;
    align-items: center;
    width: 100%;
    gap: $s16;
    border: 1px solid $mediumGray;
    transition: all 0.2s linear;
    flex: 0 0 25%;
    @include respond("tablet") {
      flex: 1 0 25%;
    }
    @include respond("phone") {
      padding: $s16;
    }
    & > img {
      background-color: $lightYellow;
      border-radius: $s16;
    }
    & > p {
      text-transform: uppercase;
      color: $darkViolet;
      font-size: $f20;
      @include respond("phone") {
        font-size: $f16;
      }
    }
    &:hover,
    &.active {
      background-color: $yellow;
      border: 1px solid transparent;
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: $s24;
    margin: $s48 0;
    @include respond("desktopLg") {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include respond("tablet") {
      margin: $s24 0;
    }
  }
}
