.hero {
  background: radial-gradient(
      80.99% 71.93% at 74.58% 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../../assets/images/home_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: $s128 $s80 $s192 $s80;
  @include respond("tablet") {
    padding: $s128 $s48 $s192 $s48;
  }
  @include respond("phone") {
    padding: $s96 $s16 $s96 $s16;
  }
  color: $white;
  &__posted {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: $s24;
  }
  &__title {
    max-width: 70%;
    margin-bottom: $s24;
    @include respond("tablet") {
      max-width: 95%;
      margin-bottom: $s16;
    }
  }
  &__info {
    margin-bottom: $s16;
    & > span {
      color: $yellow;
    }
    @include respond("tablet") {
      margin-bottom: $s8;
    }
  }
  &__text {
    max-width: 65%;
    margin-bottom: $s48;
    @include respond("tablet") {
      max-width: 100%;
      margin-bottom: $s24;
    }
  }
  &__button {
    & > span {
      margin-left: $s8;
    }
  }
}
