$darkViolet: #232536;
$yellow: #ffd050;
$hoverYellow: #edc14a;
$purple: #592ea9;
$darkGray: #4c4c4c;
$mediumGray: #6d6e76;
$lightGray: #f4f4f4;
$lavender: #f4f0f8;
$lightYellow: #fbf6ea;
$black: #000000;
$white: #ffffff;
