$darkViolet: #232536;
$yellow: #ffd050;
$hoverYellow: #edc14a;
$purple: #592ea9;
$darkGray: #4c4c4c;
$mediumGray: #6d6e76;
$lightGray: #f4f4f4;
$lavender: #f4f0f8;
$lightYellow: #fbf6ea;
$black: #000000;
$white: #ffffff;
$lightViolet: #2e3040;
$s4: 4px;
$s8: 8px;
$s16: 16px;
$s20: 20px;
$s24: 24px;
$s32: 32px;
$s48: 48px;
$s64: 64px;
$s80: 80px;
$s96: 96px;
$s108: 108px;
$s128: 128px;
$s192: 192px;
$opacity70: 0.7;
$opacity30: 0.3;
$z5: 5;
