@import "_vars.scss";
@import "_mixins.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: $f48;
  line-height: 64px;
  @include respond("tablet") {
    font-size: $f36;
    line-height: 48px;
  }
  @include respond("phone") {
    font-size: $f28;
    line-height: 36px;
  }
}
h2 {
  font-size: $f36;
  line-height: 48px;
  @include respond("tablet") {
    font-size: $f28;
    line-height: 36px;
  }
  @include respond("phone") {
    font-size: $f24;
    line-height: 30px;
  }
}
h3 {
  font-size: $f28;
  line-height: 36px;
  @include respond("tablet") {
    font-size: $f24;
    line-height: 32px;
  }
  @include respond("phone") {
    font-size: $f20;
    line-height: 28px;
  }
}
h4 {
  font-size: $f24;
  line-height: 32px;
  @include respond("tablet") {
    font-size: $f20;
    line-height: 32px;
  }
  @include respond("phone") {
    font-size: $f16;
    line-height: 24px;
  }
}
h5 {
  font-size: $f20;
  line-height: 32px;
  @include respond("tablet") {
    font-size: $f16;
    line-height: 24px;
  }
}
h6 {
  font-size: $f16;
  line-height: 24px;
  @include respond("tablet") {
    font-size: $f14;
    line-height: 20px;
  }
}
