.featured {
  display: flex;
  background-color: $lavender;
  padding: $s80;
  align-items: center;
  @include respond("desktop") {
    padding: $s48;
    flex-direction: column;
    gap: $s32;
  }
  @include respond("tablet") {
    padding: $s24;
  }
  & > img {
    object-fit: cover;
    max-width: 100%;
    @include respond("tablet") {
      height: 300px;
    }
  }
}
