.about {
  background-color: $lavender;
  padding: $s96 $s108 $s96 $s80;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: $s64 auto;
  @include respond("desktop") {
    padding: $s80 $s96 $s80 $s64;
    margin: $s48 auto;
  }
  @include respond("tablet") {
    padding: $s64 $s32;
    margin: $s32 auto;
    flex-direction: column;
    gap: $s32;
  }
  @include respond("phone") {
    padding: $s32 $s16;
    margin: $s16 auto;
    flex-direction: column;
    gap: $s32;
  }
  &__heading {
    color: $darkViolet;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: $s16;
  }
  &__text {
    margin: $s16 0;
    color: $mediumGray;
  }
  &__link {
    color: $purple;
    &:hover {
      filter: brightness(150%);
    }
  }
  &__column {
    flex: 0 1 45%;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -24px;
    height: 24px;
  }
  &::before {
    right: 24%;
    width: 56%;
    background: $darkViolet;
  }

  &::after {
    right: 0;
    width: 24%;
    background: $yellow;
  }
}
