.card {
  transition: all 0.3s linear;
  background-color: $lightGray;
  padding: $s32;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-top: $s16;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      color: $purple;
    }
  }
  & > p {
    margin-bottom: $s16;
  }
  &:hover {
    background-color: $lightYellow;
  }
}
.links {
  display: flex;
  gap: $s16;
}
