.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $s16;
  &__textarea {
    resize: none;
  }
  & > button {
    width: 100%;
  }
  &__element {
    width: 100%;
    padding: $s16;
    border-radius: $s4;
    border: none;
    outline: none;
    border: 1px solid $mediumGray;
    transition: all 0.1s linear;
    &:hover {
      border: 1px solid $darkGray;
    }
    &:focus {
      border: 1px solid $yellow;
    }
  }
}
.error {
  color: red;
  font-size: 12px;
  margin-bottom: $s8;
}
.success {
  color: green;
  font-size: 12px;
  margin: $s16 0;
}
