.header {
  background-color: $darkViolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 $s32;
  color: $white;

  @include respond("desktop") {
    padding: 0 $s16;
  }

  &__links {
    display: flex;
    gap: $s24;
    align-items: center;

    @include respond("tabletLg") {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $darkViolet;
      flex-direction: column;
      padding: $s32 0;
      transform: translateY(-100%);
      transition: all 0.3s ease-in-out;
      z-index: $z10;
      &.open {
        transform: translateY(0);
        top: 80px;
      }
    }
  }

  .right {
    display: flex;
    gap: $s20;

    @include respond("desktop") {
      gap: $s8;
    }
    @include respond("tabletLg") {
      align-items: center;
    }
  }

  .left {
    display: flex;
    gap: $s16;
    align-items: center;

    @include respond("phone") {
      gap: $s8;
    }
  }
}
