.privacy {
  &__upper {
    padding: $s80 0;
    background-color: $lavender;
    text-align: center;
    @include respond("tablet") {
      padding: $s48 0;
    }
  }
  &__title {
    margin-bottom: $s8;
  }
  &__subtitle {
    color: $darkViolet;
    opacity: $opacity70;
  }
  &__main {
    padding: $s128 0;
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: $s32;
    @include respond("tablet") {
      padding: $s64 0;
      max-width: 75%;
      gap: $s32;
    }
    @include respond("phone") {
      padding: $s24 0;
      max-width: 90%;
      gap: $s16;
    }
  }
  &__text {
    color: $darkGray;
    opacity: $opacity70;
  }
}
