.join {
  padding: $s128 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  text-align: center;
  @include respond("tablet") {
    max-width: 60%;
    padding: $s96 0;
  }
  @include respond("phone") {
    max-width: 80%;
    padding: $s48 0;
  }
  &__text {
    color: $darkGray;
    margin-top: $s16;
    margin-bottom: $s32;
  }
  & > button {
    width: fit-content;
  }
}
